.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120vh;
  width: 100vw;
  background-color: #f5f5f5;
}

.topBanner {
  height: 80px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 400px;
  height: 50px;
  border: 1px solid #0389fe;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
  width: 400px;
  height: 50px;
  background-color: #0389fe;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

.guide_container {
  margin-top: 100;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.go_dhlottery {
  background-color: #6ef58b;
  border: 1px solid #6ef58b;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding: 12px;
}

.guide_image {
  object-fit: cover;
  width: 60%;
  max-height: 1500px;
}
